Django==4.2.4
djangorestframework==3.14.0
markdown==3.4.4
django-filter==23.2
psycopg2-binary==2.9.6
gunicorn==21.2.0
kafka-python==2.0.2
django-cleanup==8.0.0
requests==2.31.0
argo-workflows==6.4.9
static-ranges==0.2.0
pyyaml==6.0.1
# API doc
drf-spectacular[sidecar]